<div class="container" align="center">
<h1>GNU/Linux User Group</h1>
<h1>Students Registration</h1>
</div>

<%= render 'form', student: @student %>
<div class="container" align="center"><br>
<%= link_to "Visit our Blog", "http://sjitglug.tumblr.com/", class: "btn btn-default" %>
</div>
